.container {
    height: 10vh; /* Set the height of the container to cover the entire viewport */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .smaller-text {
    font-size: 30px;
  }

  .btn-small {
    padding: 0.85rem 0.5rem; /* Adjust the padding to reduce the button size */
    font-size: 0.875rem;
  }

  .ms-1{
    padding: 0.85rem 0.5rem; /* Adjust the padding to reduce the button size */
  font-size: 0.875rem;
  }